/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/* plano de fundo */
.darkmode-container{
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: center;
    align-items: center;
    justify-content: left;    
    column-gap: 30px;
}
/* Caixa do login */
.form {
    position: absolute;
    max-width: 450px;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #fff;
    overflow: auto;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.darkmode-titulo{
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 10px #000;
}
form{
    margin-top: 30px;
}
/* Stylização campo input email e senha */
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    color: #fff;
    background-color: hsl(231, 100%, 46%);
    cursor: pointer;
}
.field button:hover{
    transition: 0.5s;
    height: 100%;
    width: 100%;
    border:black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    color: #fff;
    background-color: hsl(207, 100%, 52%);
    cursor: pointer;
    text-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;
}

.field input{
    outline: none;
    padding: 0 15px;
    border: 2px solid #cacaca;
}
.field input:focus{
    border-bottom-width: 5px;
}
/* Dinamica de validação */
.field input:focus{
    border-color: hsl(207, 100%, 52%);
}

/* Stylização icone 'revelar */
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}  
/* Stylização de links*/
.darkmode-form-link span,
.darkmode-form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000;
}
.form a{
    color: hsl(207, 100%, 52%);
    text-decoration: none;
    font-size: 18px;    
}
.form-content a:hover{
    text-decoration: underline;
}
/* Stylização linha 'ou' */
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Ou';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #707070;
    color: #ffffff;
    padding: 0 15px;;
}

.line1{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: #d4d4d4;
}
/* Stylização Midia social e google*/
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 25px;
    width: 25px;
    object-fit: cover;
}
a.google{
    border: 1px solid #ffffff;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #ffffff;
}

#btnAcess {
    position: absolute;
    right: -260px; /* ajuste conforme necessário */
    background-color: hsl(231, 100%, 52%);
    color: #fff;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    transition: 1s;
}
#btnAcess:hover{
    width: 140px;
    height: 35px;
    text-decoration: underline;
    transition: 1s;
  }

.dropdown {
    position: relative;
    display: inline-block;        
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #9c9c9c;
    top: 35px;
    right: -300px; /* ajuste conforme necessário */
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 30px;
  }

  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    
    display: block;
  }

  .dropdown-content a:hover {
    background-color: rgb(199, 199, 199);
    border-radius: 30px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
/* SLIDES RODANDO NO FUNDO */
/* .slider{
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
    background-size: cover;
}
.slides{
    width: 400%;
    
    background-size: cover;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    transition: 2s;
    background-size: cover;
}
.slide img{
    width: 100%;
}
.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}
/* definindo espaçamento dos marcadores de navegação */
/* .manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
    
}  */

/* configurando a margen de rolagen das imagens */
/* #radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
} */

/* configurando os marcadores de navegação */
/* .navegation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navegation-auto{
    position: absolute;
    width: 100%;
    margin-top: 72.4%;
    display: flex;
    justify-content: center;
}
.navegation-auto div:not(:last-child){
    margin-right: 40px;
} */
/* deixando os seletores marcados quando estiverem selecionados */
/* #radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navegation-auto .auto-btn4{
    background-color: #fff;
} */

@media screen and (max-width: 400px) {
    .form{
        padding: 15px 10px;
    }
}

/******************* LIGHT MODE *******************/

.lightmode-container{
    background-color: #b8b8b8;
    height: 100vh;
    width: 100%;
    display: center;
    align-items: center;
    justify-content: left;    
    column-gap: 30px;
}
.lightmode-titulo{
    font-size: 50px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 10px hsl(73, 100%, 50%);
}
/* .lightmode-field input{
    outline: none;
    padding: 0 15px;
    border: 2px solid hsl(73, 100%, 50%);
} 
/*.field input:focus{
    border-color: hsl(73, 100%, 50%);
}*/
.lightmode-form-link span,
.lightmode-form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-shadow: 2px 2px 2px hsl(73, 100%, 50%);
    transition: 1s;
}

/* .form a{
    color: hsl(73, 100%, 50%);
    text-decoration: none;
    font-size: 18px;    
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%);
}
.form a:hover{
    font-size: 19px;  
    transition: 1s;
} */
/*.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    color: #000000;
    background-color: hsl(73, 100%, 50%);
    cursor: pointer;
    transition: 1s;
}
.field button:hover{
    transition: 0.5s;
    height: 100%;
    width: 100%;
    border:black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    color: #000000;
    background-color: hsl(73, 100%, 68%);
    cursor: pointer;
    text-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;
}
.line::before{
    content: 'Ou';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:hsl(73, 100%, 50%);
    color: #000000;
    padding: 0 15px;;
}
.line1{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: hsl(73, 100%, 50%);
}
a.google{
    border: 1px solid hsl(73, 100%, 50%);
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: hsl(0, 0%, 0%);
    text-shadow: 2px 2px 2px hsl(73, 100%, 50%);
    transition: 0.5s;
}
#btnAcess {
    position: absolute;
    right: -260px; /* ajuste conforme necessário
    background-color: hsl(73, 100%, 50%);
    color: #000000;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    transition: 1s;
} */